doctype html
html.no-js
	head
		meta(charset='utf-8')
		title site
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		block script
		link(rel='stylesheet', href='styles/style.css')

		block style
	body
		header

			block content

		footer

		script(src="plugins/jquery/dist/jquery.min.js")
		script(src="scripts/delete_me.js")
		script(src="scripts/main.js")
		block scripts