extends _layout
block content
	.container
		h1 Hello world!
		.text-center
			.img-block
				img.scaling(src="images/media/bob_minion.png", alt="")

		.block(data-tooltip="checkbox demo")
			.verticalize
				+checkbox('label')(class="checkbox")