// colors
$red: #ee3e2c;
$blue: #0097cd;
$green: #47ab00;
$yellow: #eccc20;
// text colors
$text-grey: #787878;
$almost-black: #131313;
// others
$radius: 5px;
$base-font-size: 10px;
$grid-gutter-width: 20px;